div.white-background {
    height: 60%;
    background-color: white;
}
div.black-background {
    height: 40%;
    background-color: #363032;
}
div.container {
    width: 100%;
    height: 100vh;
    margin: 0;
    opacity: 50%;
}
body {
    margin: 0;
}
div.button {
    width: 668px;
    height: 120px;
    background-color: #ECDAC4 ;
    position: absolute;
    top: calc(100vh - 40% - 120px/ 2);
    left: calc((100% - 668px) / 2);
    border-radius: 80px;
}
#coffe {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 18px;
    right: 52px;
}
#cappucino {
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(150px + 18px);
    right: calc(52px + 120px - 112.5px);
}
div.popup {
    width: 365px;
    height: 336px;
    border-radius: 8px;
    border: 1px solid #DEE2E6;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
div.X_button {
    width: 26px;
    height: 26px;
    position: relative;
    left: 334px;
    top: 5px;
}
div.X_button img {
    width: 100%;
    height: 100%;
}
div.feedback_box {
    width: 300px;
    height: 115px;
    background-color: #E5E5E5;
    position: relative;
    top: 10px;
    left : 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
}
div.feddback_text {
    width: 300px;
    height: 50px;
    text-align: center;
    position: relative;
    left : 50%;
    transform: translate(-50%, 0);
    font-family: 'Inter', sans-serif;
    line-height: 7px;
    top: 10px;
}
div.text_box{
    width: 300px;
    height: 50px;
    top: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#input, #button {
  width: 300px;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
}

#input {
  border: 1px solid #ACACAC;
  margin-bottom: 10px;
}

#button {
  background-color: #4F4F4F;
  color: white;
  border: none;
  cursor: pointer;
}